{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta name="apptrana" content="882ac784bbef4169ba178d44631ab835">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>IMMI.VAX</title>

    <!-- Font Awesome Icons -->
    <link href="/static/css/creative.css" rel="stylesheet" type="text/css">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic'
          rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Theme CSS - Includes Bootstrap -->
    <link href="/static/css/creative.min.css" rel="stylesheet">

</head>

<body id="page-top">

<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-white  fixed-top " id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="{% url 'home' %}">IMMI.VAX</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto my-2 my-lg-0">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link js-scroll-trigger" href="" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Services</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'au_schedule' %}">View AU schedule</a>
                        <a class="dropdown-item" href="{% url 'compare_schedule' %}">Compare schedules</a>

                        <a class="dropdown-item" href="{% url 'special_GP' %}">Find Special GP</a>
                        <a class="dropdown-item" href="{% url 'language' %}">Language services</a>
<!--                       <a class="dropdown-item" href="{% url 'check_box' %}">Up to date with vacccines</a> -->
						<a class="dropdown-item" href="{% url 'free_au_vaccine' %}">Free vaccines for children</a>
						<a class="dropdown-item" href="{% url 'city_council' %}">Find city councils</a>
						<!-- <a class="dropdown-item" href="{% url 'free_others' %}">Vaccines for adults</a> -->

                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{% url 'faq' %}">FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{% url 'about_us' %}">About us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger">
                        <div id="google_translate_element"></div>
                        <script type="text/javascript">
                            function googleTranslateElementInit() {
                                new google.translate.TranslateElement(
                                    {
                                        pageLanguage: 'en',
                                        includedLanguages: 'en,hr,cs,fr,de,iw,hu,ga,it,pt,ro,sr,es,th,vi,hi,ar,so,tl,uk,tg,id,ne,km,ny,ps,fa,bs,ur,am,ha,af',
                                        autoDisplay: false,
                                        layout: google.translate.TranslateElement.InlineLayout.SIMPLE
                                    },
                                    'google_translate_element'
                                );
                            }
                        </script>
                        <script type="text/javascript"
                                src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

{% block content %}

{% endblock content %}

<!-- Footer -->
<footer id="contact">
    <div class="container-fluid padding bg-white">
        <div class="row text-center">
            <div class="col">
                <!-- <img src="img/w3newbie.png"> -->
                <hr class="light">
                <h4 class="font-weight-bold">We provide general information only.</h4>
                <h4 class="font-weight-bold">Please see a healthcare professional for medical
                    advice.</h4>
            </div>
            <!-- <div class="col-md-4"> -->
            <!-- <hr class="light"> -->
            <!-- <h4 class="font-weight-bold">Let's Get In Touch</h4> -->
            <!-- <h4 class="font-weight-bold">+777 777 777</h4> -->
            <!-- </div> -->
            <div class="col-12">
                <hr class="light-100">
                <h5>&copy;vax-max.herokuapp.com</h5>
            </div>
        </div>
    </div>
	<!-- <a href="https://seal.beyondsecurity.com/vulnerability-scanner-verification/vax-max.herokuapp.com"><img src="https://seal.beyondsecurity.com/verification-images/vax-max.herokuapp.com/vulnerability-scanner-2.gif" alt="Website Security Test" border="0"></a> -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<!-- <script src="vendor/jquery/jquery.min.js"></script> -->
<!-- <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script> -->

<!-- Plugin JavaScript -->
<!-- <script src="vendor/jquery-easing/jquery.easing.min.js"></script> -->
<!-- <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script> -->

<!-- Custom scripts for this template -->
<script src="/static/js/creative.min.js"></script>

<!-- <script> -->
<!-- function googleTranslateElementInit() { -->

<!-- new google.translate.TranslateElement( -->
<!-- { -->
<!-- //The starting language -->
<!-- pageLanguage: 'en', -->
<!-- //The pakages of languages -->
<!-- includedLanguages: 'en,zh-CN,hr,cs,da,nl,fr,de,el,iw,hu,ga,it,ja,ko,pt,ro,ru,sr,es,th,vi,hi', -->
<!-- //Select the style of languages -->
<!-- layout: google.translate.TranslateElement.InlineLayout.SIMPLE, -->
<!-- //autodisplay setting as true -->
<!-- autoDisplay: true, -->
<!-- }, -->
<!-- 'page-top'//The trigger of id -->
<!-- ); -->

<!-- } -->
<!-- </script> -->
<!-- <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script> -->
</body>

<style>
    #google_translate_element {
        bottom: calc(53px + 16px);
        right: 16px !important;
        z-index: 99999;
    }

    .goog-te-gadget {
        font-family: Roboto, 'Open Sans', sans-serif !important;
        text-transform: uppercase;
    }

    .goog-te-gadget-simple {
        background-color: rgba(255, 255, 255, 0.20) !important;
        border: 1px solid rgba(255, 255, 255, 0.50) !important;
        border-radius: 4px !important;
        display: inline-block;
        cursor: pointer;
        zoom: 1;
    }

    .goog-te-banner-frame.skiptranslate {
        display: none !important;
    }
</style>
</html>
