{% extends 'base.html' %}

{% block content %}
    <body>
    <div id="slides" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
            <!-- <li data-target="#slides" data-slide-to="0"></li> -->
            <!-- <li data-target="#slides" data-slide-to="1" ></li>  -->
            <li data-target="#slides" data-slide-to="2" class="active"></li>
        </ul>
        <div class="carousel-inner">
            <div class="carousel-item active">

                <img src="/static/img/11.jpg">
                <div class="carousel-caption-8">
                    <div class="container">
                        <form method="POST" action="">
                            {% csrf_token %}

                            <div class="row justify-content-md-center">
								<h4 class="comp">We can help you to compare the vaccine schedule of your home country with Australian schedule</h4>
								
								<!-- <br> -->
								<!-- <br> -->
                                <div class="col-md-auto text-center">

                                    <!-- <h4 class="h3 mb-2">Select one country</h4> -->
                                    <h4>Select your home country</h4>
									
                                </div>

                                <div class="col-md-auto text-center">

                                    <select name="country" id="input" class="browser-default custom-select  mb-3">
                                        <option value="{{ country_name }}">{{ country_name }}</option>
                                        <option value="Afghanistan">Afghanistan</option>
                                        <option value="Austria">Austria</option>
                                        <option value="Argentina">Argentina</option>
                                        <option value="Brazil">Brazil</option>
                                        <option value="Cambodia">Cambodia</option>
                                        <option value="Canada">Canada</option>
                                        <option value="El Salvador">El Salvador</option>
                                        <option value="Ethiopia">Ethiopia</option>
                                        <option value="Ireland">Ireland</option>
                                        <option value="Indonesia">Indonesia</option>
                                        <option value="India">India</option>
                                        <option value="Iraq">Iraq</option>
                                        <option value="Lebanon">Lebanon</option>
                                        <option value="Nepal">Nepal</option>
                                        <option value="Nigeria">Nigeria</option>
                                        <option value="Ukraine">Ukraine</option>
                                        <option value="Pakistan">Pakistan</option>
                                        <option value="Papua New Guinea">Papua New Guinea</option>
                                        <option value="Philippines (the)">Philippines</option>
                                        <option value="Poland">Poland</option>
                                        <option value="Romania">Romania</option>
                                        <option value="Somalia">Somalia</option>
                                        <option value="South Africa">South Africa</option>
                                        <option value="South Sudan">South Sudan</option>
{#                                        <option value="Tonga">Tonga</option>#}
                                        <option value="Timor-Leste">Timor-Leste</option>
                                        <option value="Zambia">Zambia</option>
                                        <option value="Zimbabwe">Zimbabwe</option>
                                    </select>

                                </div>
                                <div class="col-md-auto text-center">

                                    <input class="btn btn-primary 123" formaction="#table_1" type="submit" onclick="AjaxSubmit()" value="Compare"
                                           href="#table_compare">
                                </div>
								<h4 class="comp2">Can't find your country? This list is based on countries with a high number of immigrants coming to Australia and 
								these countries are also under-vaccined.</h4>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>




    <div class="col-md-auto text-center" id = "table_1">
        <br>
        <h4>{{ comparison }}</h4>
        <h5>{{ right }}</h5>
        <h5>{{ wrong }}</h5>
        <h5>The checkbox is used for you to manually check whether if the vaccine has already injected before.</h5>
        <table id="table">

        </table>

    </div>

    <div class="col-md-auto text-center" style="margin-top: 2%">
        <input class="btn btn-primary 123" type='text' name='name' value="Enter your name for printing the page" onkeydown='if(event.keyCode==13){printProof();}' onclick="if (value='Enter your name for printing the page'){value=''}"; focus(); onmouseleave="value='Enter your name for printing the page'"/>
{#        <input class="btn btn-primary 123" formaction="#table_1" type="text" onclick="printProof()" value="Print this table for you"#}
{#               href="#table_compare">#}
    </div>
	
	<div class="col-md-auto text-center" id = "table_1">
        <br>
        <h4>{{ explanation }}</h4>
        <table id="disease">

        </table>

    </div>
	

    </body>

    <script>
        // add this part of code to solve csrf problem
        $.ajaxSend(function (event, xhr, settings) {
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

            function sameOrigin(url) {
                // url could be relative or scheme relative or absolute
                var host = document.location.host; // host + port
                var protocol = document.location.protocol;
                var sr_origin = '//' + host;
                var origin = protocol + sr_origin;
                // Allow absolute or scheme relative URLs to same origin
                return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                    (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                    // or any other URL that isn't scheme relative or absolute i.e relative.
                    !(/^(\/\/|http:|https:).*/.test(url));
            }

            function safeMethod(method) {
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }

            if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
                xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
            }
        });
        // code end

        // ajax function to pass the country value to backend

        function AjaxSubmit() {
            var value = $('select#input option:selected').val()
            var age = $('select#age option:selected').val()

            if (value == false && age == false) {
                alert("Please select a country or an age group")
            } else {
                $.ajax({
                    url: 'advanced_searched',
                    type: 'POST',
                    data: value,
                })
                $.ajax({
                    url: "advanced_searched",
                    type: 'POST',
                    data: age,
                })
            }
        }

        // code end
    </script>

    <script>
        let table_data = {{ data|safe }}
            console.log(table_data)

        let disease_data = {{disease|safe}}
            console.log(disease_data)

        function generateTableHead2(table, disease) {
            let thead = table.createTHead();
            let row = thead.insertRow();
            for (let key of disease) {
                let th = document.createElement("th")
                let text = document.createTextNode(key)
                th.appendChild(text)
                row.appendChild(th)
            }
        }

        function generateTableHead(table, data) {
            let thead = table.createTHead();
            let row = thead.insertRow();
            for (let key of data) {
                let th = document.createElement("th")
                let text = document.createTextNode(key)
                th.appendChild(text)
                row.appendChild(th)
            }
        }

        function generateTable2(table, disease) {
            var index = 0
            for (let element of disease) {
                let row = table.insertRow();
                for (let key in element) {
                    let cell = row.insertCell()
                    let text = document.createTextNode(element[key])
                    cell.appendChild(text)
                    index++
                }
            }
        }

        function generateTable(table, data) {
            for (let element of data) {
                let row = table.insertRow();
                for (let key in element) {
                    let cell = row.insertCell()
                    let text = document.createTextNode(element[key])
                    let check_box = document.createElement("input")
                    if (element[key] == "✔") {
                        check_box.setAttribute("type", "checkbox")
                        cell.appendChild(text)
                        cell.appendChild(check_box)
                    } else if (element[key] == "Χ") {
                        check_box.setAttribute("type", "checkbox")
                        cell.appendChild(text)
                        cell.appendChild(check_box)
                    } else {
                        cell.appendChild(text)
                    }
                }
            }
        }


        let table2 = document.querySelector("#disease");
        let disease = Object.keys(disease_data[0]);
        generateTable2(table2, disease_data)
        generateTableHead2(table2, disease)

        let table = document.querySelector("#table");
        let data = Object.keys(table_data[0]);
        generateTable(table, table_data)
        generateTableHead(table, data)


    </script>

    <script>
    function printProof() {
            var printData = document.getElementById("table_1").innerHTML; // 只打印 forPrint 这个div中的内容。
            window.print();
        }
    </script>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 98%;
            #height: 100%;
            border: 1px solid #ddd;
            line-height: 1.3;
        }

        tr {
            display: table-row;
            vertical-align: left;
            border-color: inherit;
        }

        th, td {
            text-align: center;
            padding: 0.05px;
            border: 01px solid black;
        }

        th:first-child, td:first-child {
            text-align: left;

        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .fa-check {
            color: blue;
        }

        .fa-remove {
            color: red;
        }
    </style>
    <style>
        <!--
        * {
        --> <!-- box-sizing: border-box;
        --> <!--
        }

        -->

        <!-- /* Create two equal columns that floats next to each other */
        -->
        <!--
        .column {
        --> <!-- float: left;
        --> <!-- width: 30 %;
        --> <!-- padding-left: 50 px;
        --> <!-- height: 80 px; /* Should be removed. Only for demonstration */
        --> <!--
        }

        -->

        <!-- /* Clear floats after the columns */
        -->
        <!--
        .row:after {
        --> <!-- content: "";
        --> <!-- display: table;
        --> <!-- clear: both;
        --> <!--
        }

        -->
    </style>
{% endblock content %}