{% extends 'base.html' %}

{% block content %}
    <!-- Masthead -->
    <!-- <header class="masthead"> -->
    <!-- <div class="container h-100"> -->
    <!-- <div class="row h-100 align-items-center justify-content-center text-center"> -->
    <!-- <div class="col-lg-10 align-self-end"> -->
    <!-- <h1 class="text-uppercase text-white font-weight-bold">Popular questions</h1> -->
    <!-- <hr class="divider my-4"> -->
    <!-- </div> -->
    <!-- <div class="col-lg-8 align-self-baseline"> -->
    <!-- <p class="text-white-75 font-weight-light mb-3">Immunisation is a simple and effective way of protecting children from serious diseases. It not only helps protect individuals, it also protects the broader community by minimising the spread of disease.</p>  -->
    <!-- <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Find Out More</a> -->
    <!-- </div> -->
    <!-- </div> -->
    <!-- </div> -->
    <!-- </header> -->
	
	<!-- <div class="image-5"> -->
	<!-- <img src="/static/img/12.jpg" alt="snow" style="width:100%;height:100%;"> -->
	<!-- <h2 class="kakdela-3">Frequently asked questions about vaccination</h2> -->
	<!-- <a class="btn-2 btn-primary btn-lg js-scroll-trigger" href="#services_">Find Out More</a> -->
	<!-- </div> -->
	
	<div id ="slides" class="carousel slide" data-ride="carousel">
	<ul class = "carousel-indicators">
		
		<li data-target="#slides" data-slide-to="2" class="active"></li> 
	</ul>
	<div class="carousel-inner">
	<div class="carousel-item active">
				<img src="/static/img/12.jpg">
				<div class="carousel-caption-7">			                
			
				<h2>Frequently asked questions about vaccination</h2> 
				<a class="btn btn-primary btn-lg js-scroll-trigger" href="#services_">Find Out More</a>
           
				</div>
		</div>
		
	</div>
	</div>
	

    <!-- Services Section -->
    <section class="page-section bg-white text-dark" id="services_">
        <div id="accordion">
            <div class="container-fluid">
                <h2 class="text-center mt-0">FAQ</h2>
                <br>
                <div class="card text-center">
                    <div class="card-header bg-white text-dark" id="headingOne">
                        <h5 class="mb-1">
                            <button class="btn btn-link faq" data-toggle="collapse" data-target="#collapseOne"
                                    aria-expanded="false" aria-controls="collapseOne">
                                Why do all children need vaccines?
                            </button>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse hidden" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body faq">
                            Children need vaccines to protect them from serious infectious diseases. An
                            estimated 2 to 3 million deaths are prevented every year because of vaccination.
                            Vaccinating all children in Australia is important to protect their health and the health
                            of the communities they live in. If people are vaccinated or immune to a disease,
                            then non-immune people are much less likely to meet an infected person and
                            catch the disease. Non-immune people
                            include people who can’t be vaccinated because of their age or because their immune systems
                            don’t work as well.
                        </div>
                    </div>
                </div>
                <div class="card text-center">
                    <div class="card-header bg-white text-dark" id="headingtwo">
                        <h5 class="mb-1">
                            <button class="btn btn-link faq" data-toggle="collapse" data-target="#collapsetwo"
                                    aria-expanded="false" aria-controls="collapsetwo">
                                What are the risks of not vaccinating my baby?
                            </button>
                        </h5>
                    </div>

                    <div id="collapsetwo" class="collapse hidden" aria-labelledby="#headingtwo"
                         data-parent="#accordion">
                        <div class="card-body faq">
                            Your baby’s immune system is not fully developed like older children and adults. Therefore,
                            vaccination is an effective way to protect your baby against certain vaccine-preventable
                            infectious diseases. By keeping your child up-to-date with their vaccinations, you’re also
                            helping out the community by protecting the more vulnerable people from becoming infected.
                            Many of the diseases we are vaccinating against are rarely seen in Australia anymore, this
                            is because of routine widespread vaccination and surveillance. These diseases do still occur
                            in some parts of the world. If we stopped vaccination
                            and someone was to arrive from overseas with one of these infections, it could easily spread
                            to others.
                        </div>
                    </div>
                </div>
                <div class="card text-center">
                    <div class="card-header bg-white text-dark" id="heading3">
                        <h5 class="mb-1">
                            <button class="btn btn-link faq" data-toggle="collapse" data-target="#collapse3"
                                    aria-expanded="false" aria-controls="collapse3">
                                How well do vaccines work?
                            </button>
                        </h5>
                    </div>

                    <div id="collapse3" class="collapse hidden" aria-labelledby="#heading3" data-parent="#accordion">
                        <div class="card-body faq">
                            Vaccines have been one of the most successful public health advances in history.
                            An estimated 2 to 3 million deaths are prevented every year because of vaccination.
                            Most routine childhood vaccines are effective in 85–95% of people. This means
                            that in every 100 people who receive a vaccine, between 5 and 15 of them may not
                            develop their own protective immunity.
                        </div>
                    </div>
                </div>
                <div class="card text-center">
                    <div class="card-header bg-white text-dark" id="heading4">
                        <h5 class="mb-1">
                            <button class="btn btn-link faq" data-toggle="collapse" data-target="#collapse4"
                                    aria-expanded="false" aria-controls="collapse4">
                                What side effects might occur with vaccines?
                            </button>
                        </h5>
                    </div>

                    <div id="collapse4" class="collapse hidden" aria-labelledby="#heading4" data-parent="#accordion">
                        <div class="card-body faq">
                            Vaccines are given to many millions of people in Australia and billions worldwide.
                            Almost all side effects are minor. Being vaccinated is less harmful than getting the
                            disease—many of the diseases we vaccinate against can be fatal or have long-term
                            health effects.
                        </div>
                    </div>
                </div>
                <div class="card text-center">
                    <div class="card-header bg-white text-dark" id="heading5">
                        <h5 class="mb-1">
                            <button class="btn btn-link faq" data-toggle="collapse" data-target="#collapse5"
                                    aria-expanded="false" aria-controls="collapse5">
                                Are vaccines safe?
                            </button>
                        </h5>
                    </div>

                    <div id="collapse5" class="collapse hidden" aria-labelledby="#heading5" data-parent="#accordion">
                        <div class="card-body faq">
                            Vaccines are among the safest medical products available, and scientists are working to make
                            sure they are made even safer.
                            Every vaccine undergoes extensive testing before being licensed, and vaccine safety
                            continues to be monitored as long as a vaccine is in use.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="page-section bg-dark text-light">
        <div class="container-fluid text-center">
            <!-- <div class="row jumbotron"> -->
            <div class="col-12">
                <h2 class="display-5">Questions about vaccination</h2>
                <p class="lead">
                    This document provides answers to many common questions about vaccination.
                </p>
                <a href="https://www.health.gov.au/sites/default/files/questions-about-vaccination.pdf">
                    <button type="button" class="btn btn btn-info btn-lg">Download</button>
                </a>
            </div>
        </div>

    </section>



{% endblock content %}

<!-- Footer -->

  
