{% extends 'base.html' %}

{% block content %}

	
	<!-- <div class="container-fluid"> -->
		<!-- <img src="/static/img/5.jpg" alt="Snow" style="width:100%;height:100%;"> -->
		<!-- <div class="1-btn">Bottom Left</div> -->
		<!-- <div class="2-btn">AA</div> -->
		<!-- <div class="3-btn">CC</div> -->
	<!-- </div> -->

	<div id ="slides" class="carousel slide" data-ride="carousel">
	<ul class = "carousel-indicators">
		<li data-target="#slides" data-slide-to="2" class="active"></li> 
	</ul>
	<div class="carousel-inner">
		<div class="carousel-item active">
				<img src="/static/img/5.jpg">
				<div class="carousel-caption">
				<h4>Immunisation for Immigrants</h4>
					<!-- <h4>Our website provides information about AU schedule, comparison of vaccine schedules between your home country -->
						<!-- and Australia, and helps to find a GP who speaks in your language, find city councils to get free vaccines for children</h4> -->
					<!-- <h4>The main features of our website is to provide information about Australian vaccine schedule,  -->
					<!-- comparison of vaccine schdules between your home country -->
						<!-- and Australia, and finding a GP who speaks in your first language.</h4> -->
				 <!-- <h2>Compare the immunisation schedules with Australia</h2>  -->
				 
				<!-- <a class="btn btn-primary btn-sm js-scroll-trigger" href="{% url 'au_schedule' %}">View AU Schedule</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
				<a class="btn btn-primary  btn-sm js-scroll-trigger" href="{% url 'compare_schedule' %}">Compare Immunisation Schedules</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a class="btn btn-primary btn-sm js-scroll-trigger" href="{% url 'special_GP' %}">Find GP who speaks in your language</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a class="btn btn-primary btn-sm js-scroll-trigger" href="#services_">Find Other Services Below</a>
				<!-- <a class="btn btn-primary  btn-sm js-scroll-trigger" href="{% url 'city_council' %}">Find City Councils</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
				<!-- <a class="btn btn-primary btn-sm js-scroll-trigger" href="{% url 'free_au_vaccine' %}">Free Vaccines for Children </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
				<!-- <a class="btn btn-primary btn-sm js-scroll-trigger" href="{% url 'check_box' %}">Up to Date with Vaccines</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
				<!-- <a class="btn btn-primary  btn-sm js-scroll-trigger" href="{% url 'language' %}">Language Services </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
				</div>
		</div>
	</div>
	</div>
       
    <section class="page-section bg-light" id="services_">
        <div class="container">
            <h2 class="text-center mt-0">Our Services</h2>
            <!-- <hr class="divider my-4"> -->
            <div class="row">
                <div class="col-lg-6 col-md-2 text-center">
                    <div class="mt-5">
					<br>
                        <i class="fas fa-4x fa-gem text-primary mb-4"></i>
                        <h3 class="h5">Immunisation Schedule in Australia</h3>
                        <br>
                        <!-- <p class="text-muted mb-0">The National Immunisation Program and Victorian immunisation programs</p> -->
                        <!-- <a href="#" class="btn btn-outline-secondary">Quick search</a> -->
                        <!-- <button type="button" class="btn btn-outline-primary btn-lg"> -->
						<a class="btn btn-primary btn-lg js-scroll-trigger" href="{% url 'au_schedule' %}">View
                            Schedule</a>
                        <!-- <button type="button" class="btn btn-primary btn-lg">Quick search</button> -->
                        <!-- <button type="button" class="btn btn-outline-light btn-lg">VIEW DEMO</button> -->
                    </div>
                </div>
                <!-- <div class="col-lg-6 col-md-2 text-center"> -->
                    <!-- <div class="mt-5"> -->
					<!-- <br> -->
                        <!-- <i class="fas fa-4x fa-laptop-code text-primary mb-4"></i> -->
                        <!-- <h4 class="h5">Comparison of Immunisation Schedules</h4> -->
                        <!-- <!-- <p class="text-muted mb-0">Compare national immunisation schedules</p> --> 
                        <!-- <br> -->
                        <!-- <a class="btn btn-primary btn-lg js-scroll-trigger" -->
                                <!-- href="{% url 'compare_schedule' %}">Compare Schedules</a> -->
                    <!-- </div> -->
                <!-- </div> -->
                <!-- <div class="col-lg-6 col-md-2 text-center"> -->
                    <!-- <div class="mt-5"> -->
						<!-- <br> -->
                        <!-- <i class="fas fa-4x fa-laptop-code text-primary mb-4"></i> -->
                        <!-- <h3 class="h5">Find the Special GP in VIC </h3> -->
                        <!-- <!-- <p class="text-muted mb-0">Compare national immunisation schedules</p> --> 
                        <!-- <br> -->
                        <!-- <a class="btn btn-primary btn-lg js-scroll-trigger" -->
                                <!-- href="{% url 'special_GP' %}">Find Locations</a> -->
                    <!-- </div> -->
                <!-- </div> -->
				
				 <div class="col-lg-6 col-md-2 text-center">
                    <div class="mt-5">
						<br>
                        <i class="fas fa-4x fa-laptop-code text-primary mb-4"></i>
                        <h3 class="h5">Free vaccines for children </h3>
                        <!-- <p class="text-muted mb-0">Compare national immunisation schedules</p> -->
                        <br>
                        <a class="btn btn-primary btn-lg js-scroll-trigger"
                                href="{% url 'free_au_vaccine' %}">Free vaccines</a>
                    </div>
                </div>
				<div class="col-lg-6 col-md-2 text-center">
                    <div class="mt-5">
						<br>
                        <i class="fas fa-4x fa-laptop-code text-primary mb-4"></i>
                        <h3 class="h5">Language Services </h3>
                        <!-- <p class="text-muted mb-0">Compare national immunisation schedules</p> -->
                        <br>
                        <a class="btn btn-primary btn-lg js-scroll-trigger"
                                href="{% url 'language' %}">Language Service</a>
                    </div>
                </div>
				<div class="col-lg-6 col-md-2 text-center">
                    <div class="mt-5">
						<br>
                        <i class="fas fa-4x fa-laptop-code text-primary mb-4"></i>
                        <h3 class="h5">City councils provide free vaccinations </h3>
                        <!-- <p class="text-muted mb-0">Compare national immunisation schedules</p> -->
                        <br>
                        <a class="btn btn-primary btn-lg js-scroll-trigger"
                                href="{% url 'city_council' %}">City Council</a>
                    </div>
                </div>
				<!-- <div class="col-lg-6 col-md-2 text-center"> -->
                    <!-- <div class="mt-5"> -->
						<!-- <br> -->
                        <!-- <i class="fas fa-4x fa-laptop-code text-primary mb-4"></i> -->
                        <!-- <h3 class="h5">To be up to date with vaccines </h3> -->
                        <!-- <!-- <p class="text-muted mb-0">Compare national immunisation schedules</p> --> 
                        <!-- <br> -->
                        <!-- <a class="btn btn-primary btn-lg js-scroll-trigger" -->
                                <!-- href="{% url 'check_box' %}">Up to date</a> -->
                    <!-- </div> -->
                <!-- </div> -->
				<!-- <div class="col-lg-6 col-md-2 text-center"> -->
                    <!-- <div class="mt-5"> -->
						<!-- <br> -->
                        <!-- <i class="fas fa-4x fa-laptop-code text-primary mb-4"></i> -->
                        <!-- <h3 class="h5">Vaccines for adults</h3> -->
                        <!-- <!-- <p class="text-muted mb-0">Compare national immunisation schedules</p> --> 
                        <!-- <br> -->
                        <!-- <a class="btn btn-primary btn-lg js-scroll-trigger" -->
                                <!-- href="{% url 'free_others' %}">For Adults</a> -->
                    <!-- </div> -->
                <!-- </div> -->
            </div>
        </div>
    </section>

    <style>
        .mt-5 {
            background-clip: padding-box;
            background-color: #FFF;
            border: 10px solid rgba();
        }
    </style>

{% endblock content %}
  